.container{
    height: 100%;
    position: relative;
}
.banner_box{
    height: 100%;
}
.pagination_left{
    left: 20px !important;
}
.swiper-pagination-bullets{
    width: 20px !important;
}
.swiper-pagination-bullet{
    width: 5px;
    height: 5px;
    background: #fff;
    opacity: 0.5;
    margin: 6px 0px !important;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}

.banner_1{
    background: url(/images/home/banner_1.png) no-repeat;  
    background-position: 26% 10%;
    background-size:cover;
    text-align: right;
}
.banner_2{
    background: url(/images/home/banner_2.png) no-repeat;  
    background-position: 100% 0%;
    background-size:cover;
    text-align: left;
}
.banner_3{
    background: url(/images/home/banner_3.png) no-repeat;  
    background-position: 40% 10%;
    background-size:cover;
    text-align: right;
}
.banner_4{
    background: url(/images/home/banner_4.png) no-repeat;  
    background-position: 10% 10%;
    background-size:cover;
    text-align: left;
    position: relative;
}

.pageHeader{
    // background: transparent !important;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2),rgba(0,0,0,0)) !important;
    .header_action{
        color:#000 !important;
    }
    .logo{
        display: none;
    }
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 200;
    .page_footer{
        // background: transparent !important;
        background: linear-gradient(rgba(225,225,225,0),rgba(0,0,0,0.2),rgba(0,0,0,0.6)) !important;
        .page_footer_container>a{
            color:#000;
        }
    }
}

.content_header{
    width: 100%;
    div{
        // max-width: 1200px;
        margin: 0 auto;
        // padding-top: 60px;
        padding:15px; 
        .logo{
            width: 120px;
        }

    .pc_menu{
        float: right;
        margin-top: 30px;
        cursor: pointer;
        width: 50px;
        position: relative;
        img{
            display: block;
            height: 4px;
            margin-bottom: 5px;
            width: 100%;
        }
        
        .pc_menu_text{
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 2px;
            float: right;
            display: block;
            position: absolute;
            left: -70px;
            top:3px;

        }
    }
    }
    position: fixed;
    top:0px;
    z-index: 100;
}

.content{
    padding: 0px 15px;
    box-sizing: border-box;

    .birds{
        position: absolute;
        right: 60px;
        bottom:10px;
        width: 170px;
    }

    .banner_title{
        font-weight: bold;
        font-size: 36px;
        margin-top: 135px;
        margin-bottom: 25px;

        position: relative;
    }
    .banner_title_1{
        color:#fefeff;
    }
    .banner_title_2{
        color: #003a95;
    }
    .banner_text_1{
        font-weight: bold;
        font-size: 17px;
        color:#000000;
        margin-bottom: 10px;
    }
    .banner_text_2{
        font-weight: normal;
        font-size: 12px;
        color: #000000;
    }
}

.contact_type_box{
    display: none;
    overflow: hidden;
}

.menu_bg{
    width: 60%;
    position: absolute;
    height: 100%;
    background: #003a95;
    z-index: 200;
    top: 0;
    right: 0px;
    display: none;
}

.more_btn{
    width: 120px;
    height: 35px;
    background: rgba(0,0,0,0.3);
    // background: #000;
    font-size: 18px;
    color: rgba(255,255,255,0.9);
    outline: none;
    border: 0px;
    vertical-align: middle;
    border-radius: 35px;
    cursor: pointer;
    margin-top: 40px;
    &:hover{
        color:#fff;
    }
    
    img{
        vertical-align: middle;
        width: 14px;
        height: 14px;
        margin-bottom: 3px;
    }
    .left_arrow{
        margin-right: 10px;
    }

    .right_arrow{
        margin-left: 10px;
    }
}