.container{
    height: 100%;
    position: relative;
}
.banner_box{
    height: 100%;
}
.pagination_left{
    left: 20px !important;
}
.swiper-pagination-bullets{
    width: 50px !important;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.5;
    margin: 6px 0px !important;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}

.banner_1{
    background: url(/images/home/banner_1.png) no-repeat;  

    background-size:cover;
    text-align: right;
}
.banner_2{
    background: url(/images/home/banner_2.png) no-repeat;  

    background-size:cover;
    text-align: left;
}
.banner_3{
    background: url(/images/home/banner_3.png) no-repeat;  

    background-size:cover;
    text-align: right;
}
.banner_4{
    background: url(/images/home/banner_4.png) no-repeat;  

    background-size:cover;
    text-align: left;
}
.pageHeader{
    background: transparent !important;
    top:70px !important;
    display: none;
    .header_action{
        color:#000 !important;
    }
    .logo{
        display: none;
    }
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 200;
    .page_footer{
        // background: transparent !important;
        background: linear-gradient(rgba(225,225,225,0),rgba(225,225,225,0.2),rgba(225,225,225,0.6)) !important;
        .page_footer_container>a{
            color:#000;
        }
    }
}

.content_header{
    width: 100%;
    div{
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 60px;
        .pc_menu{
            float: right;
            margin-top: 30px;
            cursor: pointer;
            width: 50px;
            position: relative;
            img{
                display: block;
                height: 4px;
                margin-bottom: 5px;
                width: 100%;
            }
            
            .pc_menu_text{
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 2px;
                float: right;
                display: block;
                position: absolute;
                left: -70px;
                top:3px;

            }
        }
    }
    position: fixed;
    top:0px;
    z-index: 100;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 35px;
    box-sizing: border-box;
    .birds{
        position: absolute;
        right: 120px;
        bottom:20px;
    }

    .banner_title{
        font-weight: bold;
        font-size: 72px;
        margin-top: 230px;
        margin-bottom: 50px;
        letter-spacing: 4px;
        position: relative;
    }
    .banner_title_1{
        color:#fefeff;
    }
    .banner_title_2{
        color: #003a95;
    }
    .banner_text_1{
        font-weight: bold;
        font-size: 30px;
        color:#000000;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .banner_text_2{
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
        color: #000000;
    }
}

.menu_bg{
    width: 50%;
    position: absolute;
    height: 100%;
    background: #003a95;
    z-index: 200;
    top: 0;
    right: 0px;
    display: none;
}
.page_footer{
    display: none !important;
}
.header_action_box{
    display: none;
}
.index_mask{
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background: #003a95;
    z-index: 100;
    display: none;
}
.items_list .li{
    width: 120px !important;
    font-size: 24px !important;
    font-weight: bold;
    letter-spacing: 4px;
}

.li_items a{
    font-size: 16px !important;
    height: 35px !important;
    line-height: 35px !important;
}