
html,body{
    height: auto !important;
}
.container{
    width: 100%;
    margin: 0 auto;
    margin-top: 48px;
    min-height: 300px;
    .article_content{
        width: 100%;
        display: inline-block;
        height: 100%;
        box-sizing: border-box;
        border-bottom: 1px dashed #cacaca;
        padding: 15px;
        vertical-align: top;
        .article_title{
            font-size: 20px;
            color: #003a95;
            line-height: 30px;
        }
        .article_base_info{
            width: 100%;
            margin: 30px 0;
            div{
                display: inline-block;
                color:#a0a0a0;
                font-size: 14px;
                span{
                    font-size: 14px;
                }
            }
        }
        .article_date{
            margin-right: 50px;
        }

        .article_text{
            font-size: 14px;
            color: #666666;
            img{
                display: block;
                margin: 20px auto;
                max-width: 100%;
            }
        }
    }
    .article_updata{
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding:15px;
        vertical-align: top;
        overflow: hidden;
        .article_updata_title{
            font-size: 20px;
            color: #003a95;
            line-height: 40px;
            letter-spacing: 5px;
            margin-bottom: 10px;
        }
        .title_bottom_line{
            width: 50px;
            height: 3px;
            background: #003a95;
        }
        .updata_news_box{
            width: 100%;
            padding-top: 15px;
            .updata_news{
                width: 100%;
                height: 40px;
                padding: 5px 0px;
                display: block;
                overflow: hidden;
                border-bottom: 1px dashed #6c6c6c;
                .updata_news_header{
                    font-size: 14px;
                    color: #666666;
                    height: 20px;
                    line-height: 20px;
                    overflow: hidden;
                    // margin-bottom: 5px;
                }
                .updata_news_base_info{
                    font-size: 14px;
                    color: #a0a0a0;
                    height: 20px;
                    line-height: 20px;
                }
            }
        }
    }

    .share_box{
        padding: 20px 0px;
        text-align: right;
        .share_type_key{
            color: #a0a0a0;
            font-size: 14px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 15px;
        }
        a{
            margin:0 5px;
            vertical-align: middle;
            display: inline-block;
            width: 30px;
            img{
                width: 30px;
            }
        }
    }
}