.m_status{
    display: none;
}
.pc_status{
    display: block;
}

.container{
    width: 100%;
    padding-top: 60px;

    .banner_content{
        width: 100%;
        padding: 100px 0;
        box-sizing: border-box;
        background: #003a95;
        overflow: hidden;
        .img_content{
            max-width: 1200px;
            margin: 0 auto;
            position: relative;
            img{
                max-width: 100%;
                margin-left: 300px;
            }
            .banner_text_box{
                position: absolute;
                width: 50%;
                height: 100%;
                top:0px;
                left: 0px;
                padding: 120px 0 0 90px;
                box-sizing: border-box;
                .banner_title{
                    font-size: 30px;
                    color: #ffffff;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                .line{
                    width: 60px;
                    height: 5px;
                    background: #ffffff;
                    margin-bottom: 60px;
                }
                .banner_text{
                    font-size: 16px;
                    color: #fffefe;
                    line-height: 30px;
                }
            }
        }
        
    }

    .card_content{
        width: 1200px;
        margin: 0 auto;
        margin-top: 80px;
        text-align: center;
        padding: 0 35px;
        box-sizing: border-box;
        .card_content_title{
            padding-bottom: 30px;
            border-bottom: 2px solid #003a95;
            font-size: 30px;
            color: #003a95;
            font-weight: bold;
            margin-bottom: 50px;
        }
        img{
            margin-bottom: 60px;
            max-width: 100%;
        }
        
    }



}