.m_status{
    display: inline-block;
}
.pc_status{
    display: none;
}

.container{
    width: 100%;
    padding-top: 60px;

    .banner_content{
        width: 100%;
        box-sizing: border-box;
        background: #003a95;
        overflow: hidden;
        .img_content{
            width: 100%;
            margin: 0 auto;
            position: relative;
            img{
                max-width: 100%;
            }
            .banner_text_box{
                position: absolute;
                width: 100%;
                bottom:0px;
                left: 0px;
                background: linear-gradient(rgba(248, 69, 69, 0),rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5));
                padding: 15px;
                box-sizing: border-box;
                .banner_title{
                    font-size: 30px;
                    color: #ffffff;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .banner_text{
                    font-size: 14px;
                    color: #ffffff;
                    line-height: 25px;
                }
                .banner_line{
                    width: 100%;
                    height: 1px;
                    background: #ffffff;
                    margin: 10px 0px;
                }
            }
        }
        
    }

    .card_content{
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        .card_content_title{
            font-size: 24px;
            color: #003a95;
            font-weight: bold;
            padding:0 30px;
            box-sizing: border-box;
        }
        .img_box{
            width: 100%;
            vertical-align: middle;
            display: inline-block;
            img{
                max-width: 100%; 
            }
            .img_1{
                margin-left: -5px;
            }
            .img_2{
                margin-left: -15px;
            }
        }
        
    }



}
footer{
    margin-top: 40px;
}