.container{
    width: 100%;
    margin-top:60px; 

    position: relative;
    .banner_box{
        width: 100%;
        position: relative;
        .pc_banner{
            width: 100%;
        }
        .m_banner{
            display: none;
        }
        .banner_cover{
            position: absolute;
            width: 50%;
            height: 100%;
            right: 0px;
            top: 0px;
            background: rgba(0, 0, 0, 0.4);
            z-index: 10;
            .fuzhu_box{
                position: relative;
                width: 100%;
                height: 100%;
                .banner_text_box{
                    position: absolute;
                    left: 0px;
                    top: 120px;
                    padding-left: 50px;
                    .banner_title{
                        font-size: 30px;
                        color:#fff;
                        margin-bottom: 30px;
                    }
                    .first_text{
                        font-size: 18px;
                        color:#fff;
                    }
                    .text_box{
                        font-size: 14px;
                        color:#fff;
                        width: 450px;
                        line-height: 30px;
                    }
                    .line_height{
                        height: 30px;
                    }
                    .small_text{
                        font-size: 13px;
                        line-height: 24px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .banner_cover_2{
            left: 0px !important;
            .banner_text_box{
                left: auto !important;
                width: 420px !important;
                box-sizing: border-box;
                right: 25px !important;
                bottom:10% !important;
                top: auto !important;
                // margin-bottom: -62px;
                .text_box{
                    width: 400px !important;
                    box-sizing: border-box;
                    padding: 25px 5px !important;
                }
            }
        }
    }

    .content{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 35px;

        box-sizing: border-box;
        
    }
    .content_mask{
        position: absolute;
        width: 100%;
        height: 60%;
        left: 0px;
        bottom:0px;
        background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2));
        z-index: 10;
    }
    .brief_introduction{
        margin-top: 210px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 350px;
        .brief_introduction_header{
            font-size: 30px;
            color: #fff;
            width: 640px;
            height: 100px;
            line-height: 100px;
            padding-left:120px;
            box-sizing: border-box; 
            background: #003a95;
            position: absolute;
            right: 0px;
            top: 50px;
            font-weight: bold;
            letter-spacing:10px
        }
        img{
            max-width: 100%;
        }
        .brief_introduction_text{
            width: 565px;
            height: 350px;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            padding: 185px 45px 0px 45px;
            div {
                font-size:15px;
                line-height: 30px;
                color:#666666;
                margin-bottom: 40px;
            }
        }
    }

    .brief_introduction_normal{
        margin-bottom: 150px !important;
    }

    .sp_introduction{
        margin-bottom:150px; 
        .top_line ,.bottom_line{
            width: 50%;
            height: 1px;
            background: #003a95;
        }
        .sp_introduction_box{
            padding: 25px 0;
            .sp_introduction_row{
                margin: 15px 0px;
                .sp_introduction_title{
                    font-size: 30px;
                    font-weight: bold;
                    color: #003a95;
                    display: inline-block;
                    margin-right: 10px;
                    .normal{
                        font-size: 30px;
                        font-weight: normal;
                        margin-left: 20px;
                    }
                }
                span{
                    font-size: 15px;
                    color: #003a95;
                }
                .sp_introduction_text{
                    font-size: 16px;
                    color:#003a95;
                    display: inline-block;
                    margin-left: 10px;
                }
                .sp_introduction_text_normal{
                    margin-left: 0px;
                }
            }
        }
    }

    .graphic_introduction_box{
        // margin-bottom: 220px;
        .graphic_introduction_row{
            width: 50%;
            display: inline-block;
            margin-bottom: 80px;
            overflow: hidden;
            text-align: center;
            img{
                max-width:100%;
                display: block;
                margin: 0 auto;
                margin-bottom: 40px;
            }
            .graphic_introduction_s{
                width: 555px;
                border: 1px solid #ddd;
                float: right;
                padding: 65px;
                box-sizing: border-box;
                height: 304px;
                .graphic_introduction_title,.graphic_introduction_line,.graphic_introduction_text{
                    margin-left: 0px !important;
                }
            }
            .graphic_introduction{
                display: inline-block;
                vertical-align: top;
                .item_num{
                    float: left;
                    width: 100px;
                    text-align: center;
                    font-size: 16px;
                    color: #666666;
                }
                .graphic_introduction_title{
                    font-weight: bold;
                    font-size: 16px;
                    color:#666666;
                }
                .graphic_introduction_line{
                    width: 25px;
                    height: 2px;
                    background: #666666;
                    margin: 0 auto;
                    margin-top:25px;
                    margin-bottom: 25px; 
                }
                .graphic_introduction_text{
                    font-size: 14px;
                    line-height: 24px;
                    color:#666666;
                }
            }
        }
    }

    .steps_1_box{
        padding: 10px 75px 110px 75px;

        box-shadow: 5px 10px 20px #ebebeb;
        margin-bottom: 170px;
        box-sizing: border-box;
        position: relative;
        .steps_title{
            font-size: 30px;
            font-weight: bold;
            color:#003a95;
            line-height: 50px;
        }

        .add_position_1{
            position: absolute;
            top: 60px;
            left: 60px;
        }

        .add_position_2{
            position: absolute;
            top: 160px;
            left: 60px;
        }
        .line{
            width: 120px;
            height: 5px;
            background: #003a95;
            margin-top: 20px;
        }
        .steps_img_box{
            box-sizing: border-box;
            .step_img{
                display: block;
            }
            .step_img_m{
                display: none;
            }
            img{
                max-width:100%; 
            }
        }
    }




}