.container{
    width: 100%;
    margin-top:60px; 
    .banner_box{
        width: 100%;
        position: relative;
        // background: url('/images/serviceItems/international_medical_treatment/banner.png') no-repeat;
        .pc_banner{
            width: 100%;
        }
        .m_banner{
            display: none;
        }
        .banner_cover{
            position: absolute;
            width: 50%;
            height: 100%;
            right: 0px;
            top: 0px;
            background: rgba(0, 0, 0, 0.4);
            z-index: 10;
            .fuzhu_box{
                position: relative;
                width: 100%;
                height: 100%;
                .banner_text_box{
                    position: absolute;
                    left: 0px;
                    bottom: 20%;
                    padding-left: 50px;
                    .banner_title{
                        font-size: 30px;
                        color:#fff;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                    .text_box{
                        font-size: 14px;
                        color:#fff;
                        padding: 25px 0px;
                        width: 450px;
                        line-height: 24px;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
        .banner_cover_2{
            left: 0px !important;
            .banner_text_box{
                left: auto !important;
                width: 460px !important;
                box-sizing: border-box;
                right: 40px !important;
                bottom:50% !important;
                margin-bottom: -62px;
                .text_box{
                    width: 400px !important;
                    box-sizing: border-box;
                    padding: 25px 5px !important;
                }
            }
        }
        .cover_img{
            position: absolute;
            width: 50%;
            height: 100%;
            right: 0px;
            top: 0px;
            z-index: 2;
            background: url('/images/serviceItems/international_medical_treatment/banner_cover.png') no-repeat;
        }
    }

    .content{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 35px;

        box-sizing: border-box;
    }
    .brief_introduction{
        margin-top: 210px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 150px;
        .brief_introduction_header{
            font-size: 30px;
            color: #fff;
            width: 640px;
            height: 100px;
            line-height: 100px;
            padding-left:120px;
            box-sizing: border-box; 
            background: #003a95;
            position: absolute;
            right: 0px;
            top: 50px;
            font-weight: bold;
            letter-spacing:10px
        }
        img{
            max-width: 100%;
        }
        .brief_introduction_text{
            width: 565px;
            height: 350px;
            padding: 215px 45px 0px 45px;
            font-size:15px;
            line-height: 30px;
            color:#666666;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
        }
    }

    .sp_introduction{
        margin-bottom:150px; 
        .top_line ,.bottom_line{
            width: 50%;
            height: 1px;
            background: #003a95;
        }
        .sp_introduction_box{
            padding: 25px 0;
            .sp_introduction_row{
                margin: 15px 0px;
                .sp_introduction_title{
                    font-size: 30px;
                    font-weight: bold;
                    color: #003a95;
                    display: inline-block;
                    margin-right: 10px;
                }
                span{
                    font-size: 15px;
                    color: #003a95;
                }
                .sp_introduction_text{
                    font-size: 16px;
                    color:#003a95;
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }

    .graphic_introduction_box{
        margin-bottom: 220px;
        .graphic_introduction_row{
            margin-bottom: 60px;
            overflow: hidden;
            img{
                max-width:100%;
            }
            .graphic_introduction_s{
                width: 555px;
                border: 1px solid #ddd;
                float: right;
                padding: 65px;
                box-sizing: border-box;
                height: 304px;
                .graphic_introduction_title,.graphic_introduction_line,.graphic_introduction_text{
                    margin-left: 0px !important;
                }
            }
            .graphic_introduction{
                display: inline-block;
                vertical-align: top;
                .item_num{
                    float: left;
                    width: 100px;
                    text-align: center;
                    font-size: 16px;
                    color: #666666;
                }
                .graphic_introduction_title{
                    font-weight: bold;
                    font-size: 16px;
                    color:#666666;
                    margin-left: 100px;
                }
                .graphic_introduction_line{
                    margin: 25px 0px;
                    width: 25px;
                    height: 2px;
                    background: #666666;
                    margin-left: 100px;
                
                }
                .graphic_introduction_text{
                    font-size: 14px;
                    line-height: 24px;
                    color:#666666;
                    margin-left: 100px;
                }
            }
        }
    }

    .steps_1_box{
        padding: 10px 75px 110px 75px;

        box-shadow: 5px 10px 20px #ebebeb;
        margin-bottom: 170px;
        .steps_title{
            font-size: 30px;
            font-weight: bold;
            color:#003a95;
            line-height: 50px;
        }
        .line{
            width: 120px;
            height: 5px;
            background: #003a95;
            margin-top: 20px;
        }
        .steps_img_box{
            padding-top: 130px;
            text-align: right;
            position: relative;
            img{
                margin-right: 220px;
            }
            .img_r{
                margin-right: 0px;
            }
            .steps_box_3{
                position: absolute;
                bottom:-60px;
                right: 0px;
                .step_name{
                    position: static;
                    display: inline-block;
                    width: 80px;
                    text-align: center;
                    margin-left:35px;
                }
            }
            .steps_box_4,.steps_box_5{
                display: none;
            }
            .step_name{
                position: absolute;
                font-size: 20px;
                color: #003a95;
            }
            .step_name_1{
                right: 670px;
                top:90px;
            }
            .step_name_2{
                right: 500px;
                top:90px;
            }
            .step_name_3{
                right: 340px;
                top:90px;
            }
            .step_name_4{
                right: 70px;
                top:145px;
            }
            .step_name_5{
                right: 70px;
                top:300px;
            }
            .step_name_6{
                right: 320px;
                top:355px;
            }
            .step_name_7{
                right: 500px;
                top:355px;
            }
            .step_name_8{
                right: 660px;
                top:355px;
            }
        }
    }




}