.container{
    width: 100%;
    margin-top: 60px;
    .banner_box{
        width: 100%;
        position: relative;
        // background: url('/images/serviceItems/international_medical_treatment/banner.png') no-repeat;
        .pc_banner{
           display: none;
        }
        .m_banner{
            width: 100%;
        }
        .banner_cover{
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0px;
            top: 0px;
            z-index: 10;
            .fuzhu_box{
                position: relative;
                width: 100%;
                height: 100%;
                .banner_text_box{
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    padding: 15px;
                    box-sizing: border-box;
                    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0.7),rgba(255,255,255,0));
                    .banner_title{
                        font-size: 30px;
                        color:#000;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                    .text_box{
                        font-size: 14px;
                        color:#000;
                        padding: 20px 0px;
                        line-height: 24px;
                        border-top: 1px solid #000;
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }

        .banner_cover_2{
            background: rgba(0, 0, 0, 0.4);
            .banner_text_box{
                bottom: auto !important;
                top:10px !important;
                background: transparent !important;
                .text_box{
                    color:#fff !important;
                    border-top: 1px solid #fff !important;
                    border-bottom: 1px solid #fff !important;
                }
            }
        }
        .cover_img{
            position: absolute;
            width: 80%;
            height: 100%;
            right: 0px;
            top: 0px;
            z-index: 2;
            background: url('/images/serviceItems/international_medical_treatment/m_banner_cover.png') no-repeat;
        }
    }
    .content{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .content_add{
        margin-top: 15px;
    }
    .brief_introduction{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
        .brief_introduction_header{
            font-size: 18px;
            font-weight: bold;
            letter-spacing:5px;
            text-align: center;
            color:#fff;
            height: 40px;
            line-height: 40px;
            background: #003a95;
        }
        img{
            max-width: 100%;
            display: block;
            margin: 15px auto;
        }
        .brief_introduction_text{
            font-size: 14px;
            color: #666666;
            padding: 10px 5px;
        }
    }

    .sp_introduction{
        margin-bottom:35px; 
        .top_line ,.bottom_line{
            width: 100%;
            height: 1px;
            background: #003a95;
        }
        .sp_introduction_box{
            padding: 15px 0;
            .sp_introduction_row{
                margin: 10px 0px;
                .sp_introduction_title{
                    font-size: 18px;
                    font-weight: bold;
                    color: #003a95;
                }
                .sp_introduction_text{
                    font-size: 12px;
                    color:#003a95;
                }
            }
        }
    }

    .graphic_introduction_box{
        margin-bottom: 15px;
        text-align: center;
        .graphic_introduction_row{
            margin-bottom: 15px;
            img{
                max-width:100%;
                margin-bottom: 15px;
            }
            .graphic_introduction_s{
                padding: 15px;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }
            .graphic_introduction{
                vertical-align: top;
                .item_num{
                    float: right;
                    text-align: center;
                    font-size: 16px;
                    color: #666666;
                }
                .graphic_introduction_title{
                    font-weight: bold;
                    font-size: 16px;
                    color:#666666;
                }
                .graphic_introduction_line{
                    margin: 15px 0px;
                    width: 10px;
                    height: 1px;
                    background: #666666;
                
                }
                .graphic_introduction_text{
                    font-size: 14px;
                    line-height: 24px;
                    color:#666666;
                }
            }
        }
    }

    .steps_1_box{
        margin-bottom: 35px;
        border-top:10px solid #003a95;
        border-bottom:10px solid #003a95;
        padding:30px 0px; 
        .steps_title{
            font-size: 18px;
            font-weight: bold;
            color:#003a95;
            line-height: 35px;
        }
        .line{
            width: 60px;
            height: 2px;
            background: #003a95;
            margin-top: 10px;
        }
        .steps_img_box{
            padding-top: 60px;
            text-align: center;
            position: relative;
            padding-bottom: 60px;
            img{
                max-width: 300px;
                width: 80%;
            }
            .steps_box_1{
                position: absolute;
                top:25px;
                left: 0px;
                width: 100%;
            }
            .steps_box_2{
                position: absolute;
                bottom:0px;
                left: 0px;
                width: 100%;
            }

            .steps_box_3{
                display: none;
            }
            .steps_box_4{
                position: absolute;
                top:15px;
                width: 100%;
            }
            .steps_box_5{
                position: absolute;
                bottom:15px;
                width: 100%;
            }

            .step_name{
                font-size: 14px;
                color: #003a95;
                width: 23%;
                display: inline-block;
                text-align: center;
                vertical-align: top;
                margin:0 1%;
            }
            // .step_name_1{
            //     // left: 0%;
            //     // top:35px;
            // }
            // .step_name_2{
            //     // left: 22%;
            //     // top:35px;
            // }
            // .step_name_3{
            //     // left: 52%;
            //     // top:35px;
            // }
            // .step_name_4{
            //     left: 78%;
            //     top:35px;
            // }
            // .step_name_5{
            //     left: 80%;
            //     top:180px;
            // }
            // .step_name_6{
            //     left: 52%;
            //     top:180px;
            // }
            // .step_name_7{
            //     left: 26%;
            //     top:180px;
            // }
            // .step_name_8{
            //     left: 0%;
            //     top:180px;
            // }
        }
    }

}