.changeline{
    display: block;
}
.container{
    width: 100%;
    margin-top:60px; 
    .banner_box{
        width: 100%;
        position: relative;
        .pc_banner{
            width: 100%;
        }
        .m_banner{
            display: none;
        }
        .banner_cover{
            position: absolute;
            width: 50%;
            height: 100%;
            left: 0px;
            top: 0px;
            // background: rgba(0, 0, 0, 0.4);
            z-index: 10;
            .fuzhu_box{
                position: relative;
                width: 100%;
                height: 100%;
                .banner_text_box{
                    position: absolute;
                    right: 80px;
                    top: 25%;
                    padding-left: 50px;
                    .banner_title{
                        font-size: 30px;
                        color:#fff;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                    .text_box{
                        font-size: 16px;
                        color:#fff;
                        padding: 25px 0px;
                        width: 450px;
                        line-height: 24px;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                    }
                    .text_box_2{
                        font-size: 16px;
                        color:#fefefe;
                        padding: 25px 0px;
                        width: 500px;
                        line-height: 30px;
                    }
                }
                .banner_text_box_2{
                    top:15% !important;
                }
            }
        }
    }

    .content{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 35px;

        box-sizing: border-box;
    }
    .brief_introduction{
        margin-top: 210px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 150px;
        .brief_introduction_header{
            font-size: 30px;
            color: #fff;
            width: 640px;
            height: 100px;
            line-height: 100px;
            padding-left:120px;
            box-sizing: border-box; 
            background: #003a95;
            position: absolute;
            right: 0px;
            top: 50px;
            font-weight: bold;
            letter-spacing:10px
        }
        img{
            max-width: 100%;
        }
        .brief_introduction_text{
            width: 565px;
            height: 350px;
            padding: 215px 45px 0px 45px;
            font-size:16px;
            line-height: 30px;
            color:#666666;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
        }
    }

    .sp_introduction{
        margin-bottom:150px; 
        .top_line ,.bottom_line{
            width: 50%;
            height: 1px;
            background: #003a95;
        }
        .sp_introduction_box{
            padding: 25px 0;
            .sp_introduction_row{
                width: 700px;
                margin: 15px 0px;
                .sp_introduction_title{
                    font-size: 30px;
                    font-weight: bold;
                    color: #003a95;
                    display: inline-block;
                    margin-bottom: 20px;
                }
                .sp_introduction_text{
                    font-size: 18px;
                    color:#003a95;
                    display: inline-block;
                    line-height: 30px;
                }
            }
        }
    }

    .graphic_introduction_box{
        margin-bottom: 220px;
        .graphic_introduction_row{
            margin-bottom: 60px;
            overflow: hidden;
            img{
                max-width:100%;
            }
            .graphic_introduction_s{
                width: 555px;
                border: 1px solid #ddd;
                float: right;
                padding: 65px;
                box-sizing: border-box;
                height: 304px;
                .graphic_introduction_title,.graphic_introduction_line,.graphic_introduction_text{
                    margin-left: 0px !important;
                }
            }
            .graphic_introduction{
                display: inline-block;
                vertical-align: top;
                width: 558px;
                height: 216px;
                float: right;
                border: 1px solid #737373;
                box-sizing: border-box;
                padding: 45px 40px 0 40px;
                .graphic_introduction_title{
                    font-weight: bold;
                    font-size: 24px;
                    margin-bottom: 10px;
                    color:#f6aea9;
                }
                .graphic_introduction_text{
                    font-size: 16px;
                    line-height: 24px;
                    color:#666666;
                }
            }
        }
    }

    .box_shadow{
        box-shadow: 5px 10px 20px #ebebeb;
    }
    .pc_steps{
        display: inline-block;
    }
    .m_steps{
        display: none;
    }
    .steps_1_box{
        padding: 10px 75px 110px 75px;
        margin-bottom: 170px;
        .steps_title{
            font-size: 30px;
            font-weight: bold;
            color:#003a95;
            line-height: 50px;
        }
        .line{
            width: 120px;
            height: 5px;
            background: #003a95;
            margin-top: 20px;
        }
        .steps_img_box{
            text-align: right;
            position: relative;
            img{
                margin-right: 220px;
            }
        }
    }
    
    .img_introduction_box{
        margin-bottom: 150px;
        .img_introduction_card{
            width: 50%;
            display: inline-block;
            padding: 10px;
            box-sizing: border-box;
            vertical-align: top;
            img{
                max-width: 100%;
            }
            .img_introduction_content{
                background: #f6aea9;
                box-sizing: border-box;
                padding: 30px 35px;
                height: 215px;
                .img_introduction_title{
                    font-size: 24px;
                    font-weight: bold;
                    color: #666;
                    margin-bottom: 25px;
                }
                .img_introduction_text{
                    font-size: 16px;
                    color:#666;
                    line-height: 25px;
                }
            }
        }
    }



}