.container{
    width: 100%;
    margin-top:60px; 
    .banner_box{
        width: 100%;
        position: relative;
        .pc_banner{
            width: 100%;
        }
        .m_banner{
            display: none;
        }
        .banner_cover{
            position: absolute;
            width: 50%;
            height: 100%;
            left: 0px;
            top: 0px;
            // background: rgba(0, 0, 0, 0.4);
            z-index: 10;
            .fuzhu_box{
                position: relative;
                width: 100%;
                height: 100%;
                .banner_text_box{
                    width: 600px;
                    position: absolute;
                    right: 0px;
                    top: 25%;
                    padding-left: 30px;
                    box-sizing: border-box;
                    .banner_title{
                        font-size: 30px;
                        color:#fff;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                    .text_box{
                        font-size: 16px;
                        color:#fff;
                        padding: 25px 0px;
                        width: 450px;
                        line-height: 30px;

                        // border-top: 1px solid transparent;
                        // border-bottom: 1px solid transparent;
                        // &:hover{
                        //     border-top: 1px solid #fff;
                        //     border-bottom: 1px solid #fff;
                        // }
                        
                    }
                    .text_box_2{
                        font-size: 16px;
                        color:#fff;
                        padding: 25px 0px;
                        width: 500px;
                        line-height: 30px;
                    }
                }
                .banner_text_box_2{
                    top:15% !important;
                }
            }
        }
    }

    .add_height{
        height: 30px;
    }
    .change_line{
        height: 10px;
    }
    .content{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 35px;

        box-sizing: border-box;
    }
    .brief_introduction{
        margin-top: 210px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 150px;
        .brief_introduction_header{
            font-size: 30px;
            color: #fff;
            width: 640px;
            height: 100px;
            line-height: 100px;
            padding-left:120px;
            box-sizing: border-box; 
            background: #003a95;
            position: absolute;
            right: 0px;
            top: 50px;
            font-weight: bold;
            letter-spacing:10px
        }
        img{
            max-width: 100%;
        }
        .brief_introduction_text{
            width: 564px;
            height: 350px;
            padding: 185px 45px 0px 45px;
            font-size:16px;
            line-height: 30px;
            color:#666666;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
        }
    }

    .sp_introduction{
        margin-bottom:150px; 
        .top_line ,.bottom_line{
            width: 50%;
            height: 1px;
            background: #003a95;
        }
        .sp_introduction_box{
            padding: 25px 0;
            .sp_introduction_row{
                // width: 700px;
                margin: 15px 0px;
                .sp_introduction_title{
                    font-size: 30px;
                    font-weight: bold;
                    color: #003a95;
                    display: block;
                    margin-bottom: 30px;
                }
                .sp_introduction_text{
                    font-size: 18px;
                    color:#003a95;
                    display: inline-block;
                }
            }
        }
    }

    .box_shadow{
        box-shadow: 5px 10px 20px #ebebeb;
    }
    .pc_status{
        display: inline-block;
    }
    .m_status{
        display: none;
    }
    .steps_1_box{
        // padding: 10px 75px 110px 75px;
        margin-bottom: 170px;
        
    }
    
    .item_introduce{
        text-align: center;
        margin-bottom: 120px;
        .item_introduce_header{
            font-size: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #003a95;
            color: #003a95;
            margin-bottom: 60px;
            font-weight: bold;
        }
        .py_img{
            margin-left: -40px;
        }
        .an_items_box{
            height: 550px;
            position: relative;
            width: 100%;
            .an_item_bull{
                position: absolute;
                border-radius: 50%;
                outline: none;
                border:0px;
                color:#666;
                font-size: 13px;
                cursor: pointer;
                padding: 30px;
                box-sizing: border-box;
                opacity: 0.8;
                transition:.4s all;
                &:hover{
                    font-size: 15px;
                }
            }
            .an_item_bull_1{
                width: 150px;
                height: 150px;
                background: linear-gradient(#f2d4c2,#e8af94);
                left:100px;
                top: 280px;
                margin-left: -75px;
                margin-top: -75px;
                &:hover{
                    width: 170px;
                    height: 170px;
                    margin-left: -85px;
                    margin-top: -85px;
                }
            }
            .an_item_bull_2{
                width: 170px;
                height: 170px;
                background: linear-gradient(#f3dacb,#e9c58f);
                left:230px;
                top: 360px;
                margin-left: -85px;
                margin-top: -85px;
                &:hover{
                    width: 190px;
                    height: 190px;
                    margin-left: -95px;
                    margin-top: -95px;
                }
            }
            .an_item_bull_3{
                width: 180px;
                height: 180px;
                background: linear-gradient(#f8f0da,#efdda8);
                left:350px;
                top: 240px;
                margin-left: -90px;
                margin-top: -90px;
                &:hover{
                    width: 200px;
                    height: 200px;
                    margin-left: -100px;
                    margin-top: -100px;
                }
            }
            .an_item_bull_4{
                width: 160px;
                height: 160px;
                background: linear-gradient(#fbf8e4,#f5f1c3);
                left:370px;
                top: 425px;
                margin-left: -80px;
                margin-top: -80px;
                &:hover{
                    width: 180px;
                    height: 180px;
                    margin-left: -90px;
                    margin-top: -90px;
                }
            }
            .an_item_bull_5{
                width: 160px;
                height: 160px;
                background: linear-gradient(#d7e4c4,#c2d7a8);
                left:520px;
                top: 230px;
                margin-left: -80px;
                margin-top: -80px;
                &:hover{
                    width: 180px;
                    height: 180px;
                    margin-left: -90px;
                    margin-top: -90px;
                }
            }
            .an_item_bull_6{
                width: 165px;
                height: 165px;
                background: linear-gradient(#f1f2de,#dee0af);
                left:490px;
                top: 360px;
                margin-left: -82px;
                margin-top: -82px;
                &:hover{
                    width: 185px;
                    height: 185px;
                    margin-left: -92px;
                    margin-top: -92px;
                }
            }
            .an_item_bull_7{
                width: 200px;
                height: 200px;
                background: linear-gradient(#badcd9,#7bc1bc);
                left:650px;
                top: 330px;
                margin-left: -100px;
                margin-top: -100px;
                &:hover{
                    width: 220px;
                    height: 220px;
                    margin-left: -110px;
                    margin-top: -110px;
                }
            }
            .an_item_bull_8{
                width:200px;
                height: 200px;
                background: linear-gradient(#d4e6d8,#add0b4);
                left:750px;
                top: 200px;
                margin-left: -100px;
                margin-top: -100px;
                &:hover{
                    width: 220px;
                    height: 220px;
                    margin-left: -110px;
                    margin-top: -110px;
                }
            }
            .an_item_bull_9{
                width: 200px;
                height: 200px;
                background: linear-gradient(#b7ddf2,#5abde0);
                left:820px;
                top: 380px;
                margin-left: -100px;
                margin-top: -100px;
                &:hover{
                    width: 220px;
                    height: 220px;
                    margin-left: -110px;
                    margin-top: -110px;
                }
            }
            .an_item_bull_10{
                width: 200px;
                height: 200px;
                background: linear-gradient(#ccdded,#9fc2df);
                left:930px;
                top: 250px;
                margin-left: -100px;
                margin-top: -100px;
                &:hover{
                    width: 220px;
                    height: 220px;
                    margin-left: -110px;
                    margin-top: -110px;
                }
            }
            .an_item_bull_11{
                width: 170px;
                height: 170px;
                background: linear-gradient(#dee1ee,#b5bed8);
                left:1010px;
                top: 380px;
                margin-left: -75px;
                margin-top: -75px;
                &:hover{
                    width: 190px;
                    height: 190px;
                    margin-left: -85px;
                    margin-top: -85px;
                }
            }
        }
    }

    .bottom_img_box{
        position: relative;
        img{
            max-width:100%;
        }
        .bottom_img_header{
            text-align: center;
            color: #fff;
            font-size: 25px;
            position: absolute;
            top: 30px;
            width: 100%;
            left: 0px;
        }
        .position_line,.dna_item_box{
            width: 600px;
            height: 350px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left:-300px;
            margin-top: -175px; 
        }
        .dna_item_box{
            z-index: 15;
            div{
                width: 100%;
                height:100%;
                position: relative;
            }
            img{
                position: absolute;
                transition:.4s all;
            }
            .dna_img_1{
                width: 200px;
                height: 145px;
                top:-85px;
                left:40px;
                margin-left: -100px;
                margin-right: -73px;
                cursor: pointer;
                &:hover{
                    width: 220px;
                    height: 165px;
                    margin-left: -110px;
                    margin-right: -83px;
                }
            }
            .dna_img_2{
                width: 320px;
                height: 122px;
                top:55px;
                left:140px;
                margin-left: -160px;
                margin-right: -61px;
                cursor: pointer;
                &:hover{
                    width: 340px;
                    height: 132px;
                    margin-left: -170px;
                    margin-right: -66px;
                }
            }
            .dna_img_3{
                width: 340px;
                height: 160px;
                top:260px;
                left:120px;
                margin-left: -170px;
                margin-right: -80px;
                cursor: pointer;
                &:hover{
                    width: 360px;
                    height: 170px;
                    margin-left: -180px;
                    margin-right: -85px;
                }
            }
            .dna_img_4{
                width: 340px;
                height: 160px;
                top:160px;
                left:380px;
                margin-left: -170px;
                margin-right: -80px;
                cursor: pointer;
                &:hover{
                    width: 360px;
                    height: 168px;
                    margin-left: -180px;
                    margin-right: -84px;
                }
            }
            .dna_img_5{
                width: 430px;
                height: 164px;
                top:20px;
                left:600px;
                margin-left: -215px;
                margin-right: -82px;
                cursor: pointer;
                &:hover{
                    width: 450px;
                    height: 171px;
                    margin-left: -225px;
                    margin-right: -85px;
                }
            }
            .dna_img_6{
                width: 280px;
                height: 144px;
                top:260px;
                left:640px;
                margin-left: -140px;
                margin-right: -72px;
                cursor: pointer;
                &:hover{
                    width: 304px;
                    height: 156px;
                    margin-left: -152px;
                    margin-right: -78px;
                }
            }
        }
        
    }


}