.pc_status{
    display: none;
}
.m_status{
    display: block;
}
.changeline{
    display: block;
}

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.5;
    margin: 0px 6px !important;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}

.top_container{
    padding-top:48px; 
}

.container{
    width: 100%;
    overflow: hidden;
    .img_container{
        img{
            max-width: 100%;
        }
        .banner_cover_box{
            width: 100%;
        }
        .banner_cover{
            display: block;
            width: 100%;
            background: #003a95;
            .content_box{
                width: 100%;
                padding: 15px;
                box-sizing: border-box;
                .content_box_header{
                    padding-top: 25px;
                    padding-bottom: 20px;
                    color: #fff;
                    width: 60%;
                    max-width:460px;
                    font-size: 20px;
                    letter-spacing:5px;
                    border-bottom: 1px solid #ffffff;
                }
                .content_box_img{
                    padding: 50px 0;
                    box-sizing: border-box;
                }
            }
        }

    }

    .brief_introduction_box{
        margin-top: 5px;
        padding: 15px;
        .brief_introduction_header{
            font-size: 20px;
            letter-spacing:5px;
            color:#666666;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
        }

        .brief_introduction_content{
            border-top: 1px solid #666666;
            border-bottom: 1px solid #666666;
            padding-top: 15px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            .brief_introduction_text{
                font-size: 12px;
                line-height: 25px;
                margin-bottom: 10px;
                color: #666666;
            }
        }

        .brief_introduction_s{
            padding-top: 10px;
            text-align: center;
            margin-bottom: 15px;
            .brief_introduction_s_header{
                font-size: 15px;
                font-weight: bold;
                color: #666666;
                padding-bottom: 5px;
            }
            .short_line{
                width: 20px;
                height: 1px;
                background: #666666;
                margin:10px auto;
            }
            .brief_introduction_s_content{
                div{
                    font-size: 12px;
                    color:#666666;
                    line-height: 20px;
                } 
            }

        }
    }


    .contact_us{
        margin-bottom: 30px;
        padding:0px 15px;
        box-sizing: border-box;
        .contact_us_header{
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #666;
        }
        .contact_us_box{
            padding: 30px 0px;
            box-sizing: border-box;
            border-bottom: 1px solid #666666;
            border-top: 1px solid #666666;
            .contact_us_type{
                width: 100%;
                display: inline-block;
                vertical-align: top;
                .contact_us_item{
                    width: 100%;
                    margin-bottom:10px;
                    background: #003a95;
                    border-radius: 5px;
                    .type_icon{
                        width: 31px;
                        height: 30px;
                        margin: 10px;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .type_icon_1{
                        background: url('/images/globocare/phone_icon_m.png') no-repeat;
                        background-size:100% 100%; 
                    }

                    .type_icon_2{
                        background: url('/images/globocare/wx_icon_m.png') no-repeat;
                        background-size:100% 100%; 
                    }

                    .type_icon_3{
                        background: url('/images/globocare/email_icon_m.png') no-repeat;
                        background-size:100% 100%;  
                    }

                    .type_icon_4{
                        background: url('/images/globocare/local_icon_m.png') no-repeat;
                        background-size:100% 100%; 
                    }


                    .contact_type_name{
                        vertical-align: middle;
                        display: inline-block;
                        p{
                            font-size: 10px;
                            color: #ffffff;
                            margin: 0px;
                            line-height: 15px;
                            a{
                                font-size: 10px;
                                color: #ffffff;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        
            .position_loacl_box{
                border-radius: 5px;
                width: 100%;
                height: 300px;
                background: #666;
            }

        }
    }

    .js_item{
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        margin-bottom: 40px;
        .js_item_content{
            box-sizing: border-box;

            
            .item_title{
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 5px;
                color: #666666;
            }
            .item_second_title{
                font-size: 14px;
                margin-bottom: 10px;
                color: #666666;
            }
            .item_text{
                font-size: 12px;
                padding-bottom: 60px;
                color: #666666;
                line-height: 16px;
            }
        }

        .align_right{
            padding:80px 35px 0px 35px;
        }
        .align_left{
            padding:80px 35px 0px 35px;
        }
    }

    .js_item_1{
        width: 100%;
        height: 100%;
        background: url('/images/globocare/ICS_m.png') no-repeat;
        background-size:100% 100%;
    }
    .js_item_2{
        width: 100%;
        height: 100%;
        background: url('/images/globocare/PHM_m.png') no-repeat;
        background-size:100% 100%;
    }

    .js_item_3{
        width: 100%;
        height: 100%;
        background: url('/images/globocare/GQI_m.png') no-repeat;
        background-size:100% 100%;
    }


}