.pc_status{
    display: block;
}
.m_status{
    display: none;
}
.changeline{
    display: inline;
}

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.5;
    margin: 0px 6px !important;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}

.top_container{
    padding-top:60px; 
}

.container{
    width: 100%;
    overflow: hidden;
    .img_container{
        position: relative;
        img{
            max-width: 100%;
        }
        .banner_cover_box{
            position: absolute;
            width: 60%;
            height: 100%;
            top:0px;
            left:0px;
            z-index: 100;
            display: flex;
            justify-content:center;
            align-items:center;
        }
        .banner_cover{
            display: block;
            width: 100%;
            justify-content:center;
            background: #003a95;
            .content_box{
                width: 100%;
                height: 100%;
                max-width: 700px;
                float: right;
                text-align: left;
                .content_box_header{
                    padding-top: 50px;
                    padding-bottom: 30px;
                    color: #fefefe;
                    width: 60%;
                    max-width:460px;
                    font-size: 30px;
                    letter-spacing:10px;
                    border-bottom: 2px solid #ffffff;
                    font-weight: bold;
                }
                .content_box_img{
                    padding: 60px 50px;
                    box-sizing: border-box;
                }
            }
        }

    }

    .brief_introduction_box{
        width: 845px;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 130px;
        .brief_introduction_header{
            font-size: 30px;
            letter-spacing:5px;
            color:#666666;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
        }

        .brief_introduction_content{
            border-top: 1px solid #666666;
            border-bottom: 1px solid #666666;
            padding-top: 40px;
            padding-bottom: 10px;
            margin-bottom: 60px;
            .brief_introduction_text{
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 30px;
                color: #666666;
            }
        }

        .brief_introduction_s{
            padding-top: 40px;
            text-align: center;
            .brief_introduction_s_header{
                font-size: 18px;
                font-weight: bold;
                color: #666666;
            }
            .short_line{
                width: 40px;
                height: 1px;
                background: #666666;
                margin:15px auto;
            }
            .brief_introduction_s_content{
                div{
                    font-size: 16px;
                    color:#666666;
                    line-height: 30px;
                } 
            }

        }
    }


    .contact_us{
        width: 835px;
        margin: 0 auto;
        margin-top: 120px;
        margin-bottom: 140px;
        .contact_us_header{
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 30px;
            color: #666;
            letter-spacing: 5px;
        }
        .contact_us_box{
            padding: 80px 20px 40px 20px;
            box-sizing: border-box;
            border-bottom: 1px solid #666666;
            border-top: 1px solid #666666;
            .contact_us_type{
                width: 50%;
                display: inline-block;
                vertical-align: top;
                .contact_us_item{
                    height: 50px;
                    width: 100%;
                    margin-bottom:40px;
                    .type_icon{
                        width: 50px;
                        height: 50px;
                        display: inline-block;
                        margin-right: 50px;
                        vertical-align: middle;
                    }

                    .type_icon_1{
                        background: url('/images/globocare/phone_icon.png') no-repeat;
                        background-size:cover; 
                    }

                    .type_icon_2{
                        background: url('/images/globocare/wx_icon.png') no-repeat;
                        background-size:cover; 
                    }

                    .type_icon_3{
                        background: url('/images/globocare/email_icon.png') no-repeat;
                        background-size:cover; 
                    }

                    .type_icon_4{
                        background: url('/images/globocare/local_icon.png') no-repeat;
                        background-size:cover; 
                    }


                    .contact_type_name{
                        vertical-align: middle;
                        display: inline-block;
                        p{
                            font-size: 16px;
                            color: #666666;
                            margin: 0px;
                            line-height: 25px;
                        }
                    }
                }
            }
        
            .position_loacl_box{
                display: inline-block;
                width: 320px;
                height: 320px;
                background: #666;
                float: right;
            }

        }
    }

    .js_item{
        width: 100%;
        max-width: 1170px;
        height: 628px;
        margin: 0 auto;
        margin-bottom: 120px;
        box-sizing: border-box;
        position: relative;
        .js_item_content{
            width: 840px;
            position: absolute;
            box-sizing: border-box;
            .item_title{
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
                color: #666666;
            }
            .item_second_title{
                font-size: 18px;
                margin-bottom: 75px;
                color: #666666;
            }
            .item_text{
                font-size: 14px;
                padding-left: 160px;
                color: #666666;
                line-height: 20px;
            }
        }

        .align_right{
            top: 260px;
            left: 250px;
        }
        .align_left{
            top:260px;
            left: 110px;
        }
    }

    .js_item_1{
        width: 100%;
        height: 100%;
        margin-left: -20px;
        background: url('/images/globocare/ICS_pc.png') no-repeat;
        background-size:cover;
    }
    .js_item_2{
        width: 100%;
        height: 100%;
        margin-left: 20px;
        background: url('/images/globocare/PHM_pc.png') no-repeat;
        background-size:cover; 
    }

    .js_item_3{
        width: 100%;
        height: 100%;
        margin-left: -20px;
        background: url('/images/globocare/GQI_pc.png') no-repeat;
        background-size:cover;
    }


}